<!-- basic scripts -->

<!--[if !IE]> -->
<script src="$res/components/jquery/dist/jquery.js?v=$!version"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="$res/components/jquery.1x/dist/jquery.js?v=$!version"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='$res/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js?v=$!version'>" + "<" + "/script>");
</script>
<script src="$res/components/bootstrap/dist/js/bootstrap.js?v=$!version"></script>
<script src="$res/components/jquery-json/jquery.json.js?v=$!version"></script>