<!-- text fonts -->
<link rel="stylesheet" href="$res/assets/css/ace-fonts.css?v=$!version"/>

<!-- ace styles -->
<link rel="stylesheet" href="$res/assets/css/ace.css?v=$!version" class="ace-main-stylesheet" id="main-ace-style"/>

<!--[if lte IE 9]>
<link rel="stylesheet" href="$res/assets/css/ace-part2.css?v=$!version" class="ace-main-stylesheet"/>
<![endif]-->
<link rel="stylesheet" href="$res/assets/css/ace-skins.css?v=$!version"/>
<link rel="stylesheet" href="$res/assets/css/ace-rtl.css?v=$!version"/>

<!--[if lte IE 9]>
<link rel="stylesheet" href="$res/assets/css/ace-ie.css?v=$!version"/>
<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->
<script src="$res/assets/js/ace-extra.js?v=$!version"></script>

<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

<!--[if lte IE 8]>
<script src="$res/components/html5shiv/dist/html5shiv.min.js?v=$!version"></script>
<script src="$res/components/respond/dest/respond.min.js?v=$!version"></script>
<![endif]-->
<script>
    var ctx = '$ctx';
</script>
<style>
    html { overflow-x:hidden; }
    .table-tools{
        margin-bottom: 1px;
    }
    .dataTable th {
        white-space: nowrap !important;
    }
    .form-group .help-block{
        display: block;
        margin-top: 8px;
        margin-bottom: 10px;
        font-size:14px;
        color: #737373;
    }
    .page-content-iframe{
        background-color: #FFF;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        border-width: 0;
        border-radius: 0;
        width:100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        min-height: 45px;
    }
</style>
</head>

<body class="no-skin">
